

.feed-header{
    text-align:center;
    text-decoration: underline;
    color:#fff;
}

.feed-wrapper{
    margin:0 auto;
    width:75%;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.feed-filters{
    margin:0 auto;
    width:75%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:25px;
}

.feed-filters > div {
    margin: 0 15px;
}