.Video{
    display:flex;
    height:500px;
    width: 100%;
    background-size: cover!important;
    background-position: center!important;
    background-blend-mode: multiply;
    background-repeat: no-repeat!important;
    margin:25px;
    cursor: pointer;
    animation: scaleDown 500ms;
    text-decoration: none;
    color:#fff;
}
.Video:not(hover){

}
.Video:hover{
    animation: scaleUp 500ms forwards;
}

.video-name{
    height:25px;
    padding:5px;
    width: 100%;
    margin-top:15px;
    text-align: center;
    font-weight:bold;
}

@keyframes scaleUp {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
@keyframes scaleDown {
    0%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}